[2016-04-28 09:20] sindresorhus opened #2 "Support OpenSearch"
So I can just write npms+<kbd>Tab</kbd> in the URL bar to search npms directly from there.

Example:

[code]

http://bower.io/opensearch.xml

https://www.google.com/search?q=opensearch

[2016-04-29 19:58] satazor commented on #2
Thanks we will do

[2016-04-30 07:47] satazor commented on #2
@sindresorhus this was done in d5abe912d33358684b9fa01d89490941ca6ec1d3

Open search also supports JSON suggestions to be displayed as you type. Would that be something you would like or too intrusive?

[2016-04-30 10:28] sindresorhus commented on #2
That would be very useful.

[2016-04-30 10:40] satazor commented on #2
Ok I will open a new issue in the API: https://github.com/npms-io/npms-api/issues/4

[2016-04-30 10:40] #2 closed, assigned to nobody

[2016-06-06 22:41] jamestalmage opened #10 "Link to modules repo in the search results."
Personally, if it's available, I would just a soon have the GitHub repo be the default link.

Failing that, it would be nice to have a link to the repo (just add a clickable GH icon?)

[2016-06-06 22:46] satazor commented on #10
We do have a GH link in the top right corner but points to the org. Do you think that pointing to this repo would be better?

[2016-06-06 22:48] jamestalmage commented on #10
No. I meant extract from the `repo` field in `package.json`. Links for every search result.

Sorry, I could have been a lot clearer.

[2016-06-06 22:52] satazor commented on #10
Ah sorry, now I understand. Hmm, I'm not sure about making GH the default link, but adding a gh icon next to the package name would be reasonable. @sindresorhus @atduarte  what are your thoughts?

[2016-06-06 23:26] sindresorhus commented on #10
I would make GitHub the default. The npm site is pretty useless except for download stats, which you could show in the search result instead.

[2016-06-06 23:31] satazor commented on #10
I originally planned a module page, similar to https://libraries.io/npm/react but I didn't have the time. That page would contain all relevant links, including stats, etc.m
Making the GH will have some downsides, such as modules that live in the same repo, e.g.: lodash's modules, react's addons, etc.

@jamestalmage Are you able to do a PR with the change? Note that the repository link can be a git

[2016-06-06 23:37] sindresorhus commented on #10
Make sure to link to the SHA corresponding to the latest release if available, so the user get the correct readme. Should be the `gitHead` field in the package entry in the registry.

[2016-06-06 23:59] satazor commented on #10
Yes we can append `#<gitHead>` to the URL passed to `hosted-git-info` and then use `.browse()` to get the URL. Note that `gitHead` might not be available. @jamestalmage I would wrap all of this logic into a RepoLink component or something.

[2016-06-07 00:09] jamestalmage commented on #10
I'm willing to tackle creating a module for fetching the link data. You don't want me touching HTML / CSS.

[2016-06-07 00:19] satazor commented on #10
I don't think that creating a module is necessary, it would be a tiny wrapper around `hostedGitInfo.fromUrl(metadata.repository + '#' + metadata.gitHead).browse() || npmLink`. Actually you don't need to touch any css, just React and some minor HTML. It would be a good exercise :P Though, if you're not comfortable I will do it tomorrow.

[2016-06-07 01:59] jamestalmage opened #11 "Update docs with how to configure `npm run serve`"
I found I had to edit `config/parameters` to the following:

[code]

[2016-06-07 02:43] #11 closed, assigned to nobody

[2016-06-07 02:43] jamestalmage commented on #10
Soo.
I'm guessing this requires some rework in the `npms-api` and maybe `npms-analyzer`. The required data currently isn't being passed transferred to the browser. I hunted around and found [this](https://github.com/npms-io/npms-analyzer/blob/master/docs/setup.md), but it looks pretty involved.

I'm thinking I'm going to pass for now. It's not a matter of comfort, just a lack of time.

[2016-06-07 09:34] satazor commented on #10
@jamestalmage you are right. I will give it a try today.

[2016-06-07 09:40] satazor commented on #10
Question: should we give priority to the package.json `website`?

[2016-06-07 10:18] sindresorhus commented on #10
@satazor No, I want the GitHub repo. I usually inspect the code of modules before using them.

[2016-06-12 09:09] satazor opened #15 "Logo and identity design"
https://npms.io doesn't have a logo yet and I don't have any experience in drawing logos. If anyone would like to contribute with a logo and identity proposal, please post a comment in this thread. The person behind the chosen logo will be headed to the about page.

Thanks, help would be much appreciated!
- [ ] Logo + identity
- [ ] Favicon
- [ ] Touch icons and the like

[2016-06-12 16:11] varughese commented on #15
I would definitely be interested! Give me some time

[2016-06-12 16:12] satazor commented on #15
Looking forward to what you come up with @varughese

[2016-06-12 16:54] atduarte opened #19 "Homepage contents"
I think that until we have some contents to add to the homepage, we could show the contents of the About page. People that now visit the homepage don't understand why this project exists and how it's different from others.

@satazor: What do you think?

[2016-06-12 20:02] pedro93 opened #20 "Preview metadata information of search result"
This is merely a suggestion to a comment thread posted on Reddit about this project.
Adding a preview modal view when hovering over a link to a package on the search result could show a quick summary of the meta information of said package.
Such information could include but is not limited to:
- Downloads in last 30 days
- Amount of GH stars
- Last updated date
- Dependency count
- Dependent count

[2016-06-12 20:36] satazor commented on #19
I think that we the next step is to build a proper homepage now:
- Add an excerpt of the about, explaining what npms is about
- Add "hot searches"
- Add top score modules
- Add top developers
- ..?

Hopefully we will have some design contributions to ease this.

[2016-06-13 07:14] guigrpa opened #21 "Searching for a module by exact name"
While I find this tool useful for package discovery, it doesn't seem to work as expected when you **look for a package by its name**. Try _uglifyjs_, for instance: you have to scroll almost all the way down the 127-result list to find the one you're looking for. Try _react_: I was not able to find it at all!

What about including in the first place the module by that name? This is also something t

[2016-06-13 08:18] satazor commented on #21
Duplicate of https://github.com/npms-io/npms-analyzer/issues/48

[2016-06-13 12:16] satazor commented on #20
I agree that this would be a good addition. Later on, we will also have a package info page, that slides from the right whenever you click a module. If you click outside it, it will slide out. This way you won't loose the context of your search.

[2016-06-13 13:09] satazor commented on #21
@guigrpa the issue is now fixed, give it a try!

[2016-06-13 13:29] guigrpa commented on #21
@satazor Tried _uglifyjs_ and _react_ and it works like a charm. With _Uglifyjs_ (capital U), however, it fails — notice that npm is case-insensitive, though.

[2016-06-13 13:30] satazor commented on #21
Hmm let me investigate

[2016-06-13 13:40] satazor commented on #21
Fixed in https://github.com/npms-io/npms-api/commit/84b8346c4b217c2cc364cb0f1c52bc23a68b8357! Thanks again for reporting.

[2016-06-13 13:40] #21 closed, assigned to nobody

[2016-06-13 13:51] guigrpa commented on #21
Thanks to you for the fast fix!

[2016-06-13 19:10] MrDHat opened #22 "Community reviews"
Currently, the analyzer looks to help with determining the "relevance" of the module on the basis of Github activity. One step ahead would be to add a community driven review system for the modules.

Essentially, "amazon-like" star based reviews and comments. The main aim is to incorporate this into search results so that good modules show up higher than crappier ones. What do you guys think about

[2016-06-15 18:32] darsain commented on #20
Downloads in last 30 days, and link to repository should definitely be visible/accessible without any hover requirement. They are so valuable when discovering packages. I really don't want to hover that proprietary rating stamp for every search result.

Please :)

[2016-06-15 19:45] Tyriar opened #23 "npm scoped modules don't show up in search"
Compare:
- https://npms.io/search?term=fibonacci-heap
- https://www.npmjs.com/search?q=fibonacci-heap

[2016-06-15 19:50] satazor commented on #23
We are aware of that, see: https://github.com/npms-io/npms-analyzer/issues/47 and https://twitter.com/satazor/status/735107823256866816

[2016-06-15 19:50] #23 closed, assigned to nobody

[2016-06-15 22:29] atduarte commented on #19
Followed your suggestion and made a gist.
https://gist.github.com/atduarte/da3344c365a20f790c315a08b97fa90a

[2016-06-16 07:32] satazor commented on #19
I like it @atduarte, we really need a designer to set this up for us :(

[2016-06-16 09:22] DanielPintilei opened #24 "Body overflow-y"
You might want `overflow-y: auto;` on `<body>`. Looks better.

[2016-06-16 09:23] satazor commented on #24
I've opted to use `scroll` to prevent the site from moving left when navigating from the homepage to the search results. We got smooth fade transitions that would look ugly if the site moved..

[2016-06-16 09:31] giuseppeg opened #25 "Link to `Try it out`"
Hi there, great project!
It'd be nice to get a link to try packages out on tonicdev e.g. https://tonicdev.com/npm/lodash

[2016-06-16 12:35] atduarte commented on #10
I think that just replacing the link from npmjs to GitHub is not the best solution, since there's additional information in the npmjs' page and we can't easily go from GitHub to npmjs, but the other way around we can.

Maybe we could change the list design and add the ability to add multiple links (GitHub, Webpage, future npms package page, #25, etc). With this change we would be also adressing so

[2016-06-16 12:39] satazor commented on #10
I have everything setup in the [analyzer](https://github.com/npms-io/npms-analyzer/pull/54) and [api](https://github.com/npms-io/npms-api/pull/25).. we just need to agree how this goes into the interface now

I like @atduarte approach, and we can always revisit this once a designer starts working with us.

[2016-06-16 12:40] #24 closed, assigned to nobody

[2016-06-16 12:45] sindresorhus commented on #10
I still think GitHub should be the default when you click the title. Makes sense to have an icon to go to the npm page though.

What do you need from it? The only thing I can think of are download numbers and dependencies/dependents and that could easily embedded in npms at some point.

[2016-06-16 12:57] atduarte commented on #10
Yeah, I was referring to download numbers. The npms page would obviously be the best choice, but we will have to wait.

About changing the default link, I don't know what people in general prefer. Maybe you are right. We could A/B test, make some kind of voting or just change it and check GA for data and Twitter for complains. :smile:
What do you think, @satazor?

Maybe I will implement that desig

[2016-06-16 13:01] satazor commented on #10
ahaha we still have a lot of work to do before devoting time to A/B testing. Lets trust @sindresorhus judgement and go for the GH as default and npm icon below.

Note that the actual repository link might not be ONLY from GH, but from bitbucket & gitlab too.

[2016-06-16 15:24] mitchhentges opened #27 "Loading npms.io locally animates the closed-by-default menu"
When the page is opened, the white "morph" effect plays for closing the menu on the right, despite the fact that the menu was never opened.

EDIT: This appears to only occur when developing locally: `localhost:8080`, but not on the live site: `npms.io`

[2016-06-16 15:29] satazor commented on #27
Yes that's normal.. and I don't know what to do to avoid it. If you want to preview the built version run `npm run build && npm run serve -- --env prod`

[2016-06-16 19:57] #27 closed, assigned to nobody

[2016-06-16 19:58] satazor commented on #25
@atduarte are you also addressing this with your small redesign of the search results?

[2016-06-16 20:17] atduarte commented on #25
@satazor Yep :)

[2016-06-16 21:19] satazor opened #28 "Automatically focus when a key is pressed"
Similar to google.

[2016-06-16 21:55] satazor opened #30 "Consider svg icon sprite to be served in a separate http request"

[2016-06-17 07:13] whq731 opened #31 "search list support result sort based on bigger score first rule"
I saw that current search result is bigger score first but not all in this rule.
For example , i searched  ''express" and got
express(4.14.0) 98
express-session(1.13.0) 86
path-to-regexp(1.5.3) 88

I think "path-to-regexp" should be NO.2 result?

[2016-06-17 08:09] satazor commented on #31
The search results order is based on a combination of relevance and score, so that can happen!

[2016-06-17 08:09] #31 closed, assigned to nobody

[2016-06-17 10:45] mocanew opened #32 "Scroll to top doesn't work in Firefox 47.0"
I don't know if it's related to the issue, but I get this warning in the console: "This site appears to use a scroll-linked positioning effect. This may not work well with asynchronous panning; see https://developer.mozilla.org/docs/Mozilla/Performance/ScrollLinkedEffects for further details and to join the discussion on related tools and features!"

[2016-06-17 12:02] #32 closed, assigned to nobody

[2016-06-17 12:04] satazor commented on #25
Also see #33, the "try in tonic" appears on hover.

[2016-06-17 12:06] satazor commented on #32
Deployed.

[2016-06-17 12:17] satazor commented on #15
any news @varughese?

[2016-06-17 12:19] morajabi commented on #15
do you want the logo have the similar look as npm?

[2016-06-17 12:20] satazor commented on #15
Ideally no, we don't want to steal or be prosecuted by npm.

[2016-06-17 12:22] morajabi commented on #15
So can you describe key features of npms in a few words?

[2016-06-17 12:23] satazor commented on #15
Basically npms is a better and open source of node modules. Read this: https://gist.github.com/atduarte/da3344c365a20f790c315a08b97fa90a

[2016-06-17 15:27] satazor commented on #25
A new deployment just landed with this feature.

[2016-06-17 15:27] #25 closed, assigned to nobody

[2016-06-17 15:27] satazor commented on #10
All done guys!

[2016-06-17 15:27] #10 closed, assigned to nobody

[2016-06-17 15:35] giuseppeg commented on #25
Aw that didn't take long! Thank you folks :)

[2016-06-17 19:40] #28 closed, assigned to nobody

[2016-06-19 17:30] varughese commented on #15
How is this for starters ?
![](http://i.imgur.com/iZaUTJQ.png)

[2016-06-19 17:36] varughese commented on #15
Here is an album with different varieties : [Album](http://imgur.com/a/XGmQR)

![](http://i.imgur.com/m99MCQk.png)

[2016-06-19 17:43] varughese commented on #15
Lol, I cropped out the S by accident. Give me some feedback. Also sorry about the wait, I had finals and such.

![](http://i.imgur.com/XAMXjr8.png)

[2016-06-19 18:27] satazor commented on #15
Hmm I didn't like it that much. I would also prefer the logo to be in the blue tone of the website.

[2016-06-19 18:37] atduarte commented on #15
Same opinion as @satazor. Maybe it can also have the green color used as accent color on the website.

[2016-06-19 18:50] icebob commented on #20
+1 for Github stars. I think it is very important too.

[2016-06-19 19:14] jacobp100 commented on #15
![small 3x](https://cloud.githubusercontent.com/assets/7275322/16179421/4bcccb3c-365d-11e6-9c27-48d1b392dc75.png)

Just an idea.

[2016-06-19 21:29] reqqy commented on #15
![captura de ecra 2016-06-19 as 22 25 59](https://cloud.githubusercontent.com/assets/20032137/16179937/41314e7c-366d-11e6-8cae-96c00d1fa95f.png)
Here's a quick concept

[2016-06-20 17:20] goncalobo commented on #15
Here's another idea.

![](http://i.imgur.com/T4NAfno.png)
![](http://i.imgur.com/6WFTsb7.png)

[And some other attempts.](http://imgur.com/a/jsutw)

[2016-06-21 08:03] stereobooster opened #39 "Node toolbox"
Like  [ruby-toolbox](https://www.ruby-toolbox.com/), but for node (npm).

See also:
- http://stackoverflow.com/questions/30079465/cannot-find-equivalent-of-ruby-toolbox-for-javascript-libraries
- https://github.com/activesphere/nodetoolbox
- http://artandlogic.com/2013/07/the-javascript-toolbox/

[2016-06-21 08:06] stereobooster commented on #30
Why to bother? Github serving SVGs inline https://github.com/blog/2112-delivering-octicons-with-svg

[2016-06-23 07:54] boogie666 opened #42 "(Suggestion) Back with menu open should close the menu"
Hi there, nice UI, clean and simple, just the way i like it :)

Is it possible to have the back button (browser back i mean) close the menu if it's open.
I believe that this would be better, especially on mobile where the natural instinct is to press the back button to get out of stuff.

Currently back does history back in all cases.

I would be more then happy to fix this myself :) if it is somet

[2016-06-27 14:58] sarbbottam opened #44 "Auto-complete/suggestion for search?"
It would be great to have auto-complete/suggestion features for the search, similar to what https://www.npmjs.com/ does. Thanks!

<img width="920" alt="screen shot 2016-06-27 at 7 56 14 am" src="https://cloud.githubusercontent.com/assets/949380/16384126/b1138546-3c3c-11e6-80d2-51f3310a7330.png">

[2016-07-03 17:40] satazor commented on #44
Yep! We will add auto-complete soon.

[2016-07-03 17:41] satazor commented on #42
The back button navigates to the previous URL, so to make this work we would have to add a /menu root which feels weird. I do not see other solution to implement what you want.

[2016-07-03 17:43] satazor commented on #15
For now I prefer the @goncalobo logos but I feel there's still room for improvements. Lets see if someone comes up with something else.

[2016-07-07 11:25] satazor commented on #44
#49

[2016-07-07 11:25] #44 closed, assigned to nobody

[2016-07-07 11:26] satazor commented on #42
If you find another solution let me know, closing this for now.

[2016-07-07 11:26] #42 closed, assigned to nobody

[2016-07-13 21:33] revelt opened #57 "Website needs a favicon"
Of course, issue is blocked by #15 because it's unclear what to put there.

[2016-07-15 08:52] leo commented on #57
We also need an `apple-touch-icon`, a `twitter:image` and a `mask-icon` for Safari.

[2016-07-15 08:53] satazor commented on #57
Yep.. If you guys have any friend which can design the logo and identity please reach them.

[2016-07-15 09:04] leo commented on #57
@satazor What about using npm's "font"? In turn, I also think we should adjust the whole branding (the colors, etc.) to match npm's branding.

[2016-07-15 09:15] revelt commented on #57
Yeah, something similar but not identical, so as not to break laws.. Anything square shaped is instantly recognisable as npm-related

[2016-07-15 09:33] leo commented on #57
[Hmmm](https://www.npmjs.com/policies/trademark#the-npm-trademark-policy)

[2016-08-07 07:07] IonicaBizau opened #73 "Autofocus the input"
It would be amazing if you autofocus the search input. 😁 Then we wouldn't have to click on that input.

Thanks for amazing product!

[2016-08-08 07:56] revelt commented on #15
Hi guys! A month has passed, let's keep the momentum going get this done 💪 🦄 🍺  💻 🍺 🍺 🌈 🌈 🌈

[2016-08-14 14:20] satazor commented on #73
You actually don't need to focus the input, you can start typing right away similarly to google.com. We can autofocus the input on mobile devices.

[2016-08-14 14:21] IonicaBizau commented on #73
@satazor Ah, nice! But it isn't very intuitive, tho...

[2016-08-14 14:21] satazor commented on #15
Yes please! If you know anyone who got the skills, please do contact him/her :(

//cc @addyosmani

[2016-08-14 14:22] IonicaBizau commented on #73
Is there any specific reason why you wouldn't focus the input on desktop?

[2016-08-14 14:23] satazor commented on #73
@IonicaBizau not really, it was decided to imitate google so that we have a standard behavior cross platform. Still, I'm open to auto-focus only in desktop.

//cc @atduarte

[2016-08-14 14:24] IonicaBizau commented on #73
@satazor But Google does autofocus the search thingy.

[2016-08-14 14:26] satazor commented on #73
@IonicaBizau indeed it does! Could you please update #61 so that it only `.focus()` in desktop? You will need to find a good library to detect desktop/mobile; you may use https://npms.io for that ahahah :)

[2016-08-14 15:09] satazor commented on #73
@IonicaBizau I didn't noticed that #61 wasn't yours! Would you willing to do a PR to do auto-focus only on desktop?

[2016-08-14 15:26] IonicaBizau commented on #73
@satazor Done. 😁

[2016-08-14 15:27] IonicaBizau commented on #73
@satazor It seems you have a couple of [nice projects too](https://github.com/IonicaBizau/made-in-portugal). 😄

[2016-08-14 16:03] satazor commented on #73
@IonicaBizau I mainly create my projects in https://github.com/IndigoUnited, these are all portuguese projects :)

[2016-08-21 17:00] swashcap opened #80 "Make navigation menu springier"
The navigation menu’s opening “spring” is great! I think it would make the effect more continuous if it happened on menu close. Here it is (in Firefox 47):

![springy-menu](https://cloud.githubusercontent.com/assets/1858316/17838589/c9e149f4-6785-11e6-9807-8488da0fae14.gif)

Thoughts? I could take a peek at the CSS/JS and open a PR if interested.

[2016-08-21 21:04] satazor commented on #80
That could look nice, feel free to drop a PR

[2016-08-23 10:55] Delapouite opened #82 "[idea] Clickable tags"
Currently tags displayed on result pages are unclickable.

I propose that when clicking on a tag, it should triggers a new search with this word.

[2016-09-06 08:33] #73 closed, assigned to nobody

[2016-09-06 08:34] satazor commented on #82
Sounds ok to me, @atduarte ?

[2016-09-06 08:40] atduarte commented on #82
SGTM

[2016-09-06 08:40] satazor commented on #82
@Delapouite Could you please make a PR that adds this feature?

[2016-09-07 16:03] Delapouite commented on #82
Sure. Here it is : https://github.com/npms-io/npms-www/pull/93

[2016-09-09 10:34] satazor commented on #82
Deployed!

[2016-09-09 10:34] #82 closed, assigned to nobody

[2016-09-12 13:07] shssoichiro opened #96 "Displayed package version is inaccurate"
The version number that displays on the search results for a package is inaccurate (possibly cached server-side?). For example, the version number displayed for `angular-ui-boostrap` is 2.0.1, which was released on 2016-08-02. The latest version of this package on npm is 2.1.3, which was released 2016-08-25.

![screen shot 2016-09-12 at 9 04 22 am](https://cloud.githubusercontent.com/assets/595139

[2016-09-12 13:50] satazor commented on #96
Hmm it seems that the npm registry that is being replicated is out of date for that package, but it says replication is ok.. need to investigate.

Thanks for the heads up.

[2016-09-12 13:53] satazor commented on #96
I will stop the analyzer for now and re-replicate the npm registry. This will take a while.

[2016-09-12 14:01] satazor commented on #96
@shssoichiro after the replication is done, I will re-activate the analyzer but the cached modules will only be re-analyzed in 15 days max or if they get updated. If you wish some of them to be analyzed right away please list them and I will manually trigger the analysis.

[2016-09-12 16:01] satazor commented on #96
Done!

[2016-09-12 16:01] #96 closed, assigned to nobody

[2016-09-12 19:57] Den-dp commented on #96
@satazor Same here

![image](https://cloud.githubusercontent.com/assets/1770529/18450422/a0129368-793b-11e6-8246-074f831635b0.png)

So, as I understand this will be fixed by itself in ~15 days, right?

[2016-09-12 20:12] satazor commented on #96
Correct! Or if the module gets published with a new version.

This was a weird couchdb rellication issue..

[2016-09-12 20:15] satazor commented on #96
Actually staring the module in npmjs will also cause it to re-analyze (haven't tested, I'm on the phone.

[2016-09-13 15:57] benmann commented on #15
Would love to contrib some visual stuff and frontend implementation if you'd have me.
![npm-logo-no-claim](https://cloud.githubusercontent.com/assets/7561396/18480654/c089d702-79d9-11e6-855d-8b68e3bb7fa6.png)
![npms-logo-claim](https://cloud.githubusercontent.com/assets/7561396/18480655/c0ab7ee8-79d9-11e6-9060-e8483b48a4bf.png)

Font used is [Varela Rounded](https://fonts.google.com/specimen/Varel

[2016-09-13 22:04] satazor commented on #80
Closing this due to inactivity. @swashcap if you still got the time to make a PR I will re-open this.

[2016-09-13 22:05] satazor commented on #57
I will close this in favor of #15

[2016-09-13 22:05] #57 closed, assigned to nobody

[2016-09-13 22:07] satazor commented on #39
@stereobooster I think this is out of the scope for this project, at least for now. Also there's http://bestof.js.org/ from @michaelrambeau, check it out!

[2016-09-13 22:07] #39 closed, assigned to nobody

[2016-09-13 22:09] satazor commented on #22
@MrDHat Ty for the suggestion but this is out of the scope of npms, at least for now.

[2016-09-13 22:09] #22 closed, assigned to nobody

[2016-09-13 22:11] #80 closed, assigned to nobody

[2016-09-13 22:28] satazor opened #97 ""Fade" exact matches that are not the best module"
Follow up of https://github.com/npms-io/npms-analyzer/issues/63

Basically, if a exact match appears first but it's not the best module, it should be outlined somehow. We need to come with a good visual solution to make that clear.

[2016-09-19 01:30] satazor commented on #15
@BenMann I like the lettering  but not the imagery. Thanks for your contribution!

[2016-09-20 10:47] satazor commented on #97
An update: now you can specify `boost-exact:false` to disable this behavior.

[2016-09-20 15:35] atduarte commented on #97
We could add a tag like the "unstable" one, saying "exact match"

[2016-09-20 16:18] satazor commented on #97
I think the flag by itself is not enough. The item should be less "visible" than others.

[2016-09-21 12:25] satazor commented on #20
I've added a "view package analysis" meanwhile. While this is not the final solution, it's something. Ideally we would open a modal dialog with JSON data highlighted.

[2016-09-21 13:13] darsain commented on #20
How can you consider modal windows an ideal solution for anything? They are annoying, a barrier between user and data, and should be implemented only in a situation where you absolutely can't find a different solution.

So, are you sure you can't display a couple numbers without a modal window? :)

[2016-09-21 14:18] satazor commented on #20
It's not a couple a numbers but a lot of data to be shown.. showing only the nr of stars and what not is very incomplete. The score is calculated using the whole analysis.

[2016-09-21 14:22] satazor commented on #20
Hovering the score could show a limited set of metrics as outlined by the OP (in the tooltip).

If everyone agrees with it, feel free to make a PR. Adding all this information in the item itself without requiring hovering/click would make items cluttered.

[2016-09-21 18:07] darsain commented on #20
Yeah but I don't care about that score. I don't care about any of those 4 scores that are currently displayed. I simply don't know what they mean. I'd have to learn the algorithms they are calculated with for them to become meaningful. So right now they are just an arbitrary numbers that obfuscate data I'm actually interested in.

Pretty much the most important stuff, and all the numbers I really

[2016-09-21 18:11] satazor commented on #20
@darsain those scores are explained in the [about](https://npms.io/about) page. If you don't care to read it, no wonder you don't understand them. These "proprietary" scores give much more value than

You might agree these are the most important metrics, but I disagree as well as many other community members that I reached before creating npms.io. Members that actually participated in brainstorms

[2016-09-23 01:30] jdalton opened #106 "View package analysis just shows a json dump."
When I click on the "View this package analysis" link it just shows a json dump:
https://api.npms.io/v2/package/lodash

<img width="100%" src="https://cloud.githubusercontent.com/assets/4303/18771286/8fd90ef0-80f2-11e6-997e-f3ebc923cb58.png">

[2016-09-23 01:33] satazor commented on #106
@jdalton The final solution is to have a dedicated package page (e.g. https://npms.io/package/lodash) that will show the analysis data in a more human friendly way.
But for now, it's expected to simply open the API response in a new tab.

[2016-09-23 01:34] jdalton commented on #106
Ok 😎

[2016-09-23 01:34] #106 closed, assigned to nobody

[2016-09-29 15:54] TehShrike opened #107 "Email addresses are not being lowercased before hashing for Gravatar"
The avatar that shows up on npms.io:
![image](https://cloud.githubusercontent.com/assets/1141869/18961520/e9742838-8632-11e6-85d9-3b9b5826a6d3.png)

The avatar that shows up on npmjs.com:
![image](https://cloud.githubusercontent.com/assets/1141869/18961560/03498122-8633-11e6-8575-f42becd85f33.png)

It looks like users who uploaded an avatar directly to npmjs.com are showing up correctly, but Grava

[2016-09-29 16:03] satazor commented on #107
The npm registry doesn't contain user documents. Having that said, is impossible to know the URL of the image uploaded through npm.

Let me know if there's a way to retrieve it without having to crawl their website.

[2016-09-29 16:06] TehShrike commented on #107
To display a gravatar, all you need is the user's email address.  https://secure.gravatar.com/site/implement/hash/

[2016-09-29 16:09] satazor commented on #107
We are using gravatar, my avatar is being displayed correctly through gravatar. Need to check whats wrong with yours.

[2016-09-29 16:13] TehShrike commented on #107
Ah, I see what's happening.  The email address is not being lowercased before it is hashed.
- me@joshduff.com hashes to [b0d8ecb1f35283c9ac7fd219916efb90](https://www.gravatar.com/avatar/b0d8ecb1f35283c9ac7fd219916efb90?d=retro&r=g&s=40) (correct)
- me@JoshDuff.com hashes to [8ad29570949de46ca2713534f9070ab3](https://www.gravatar.com/avatar/8ad29570949de46ca2713534f9070ab3?d=retro&r=g&s=40) (incor

[2016-09-29 16:18] satazor commented on #107
Hmm, acordingg to the RFC email is case sensitive, despite most mail servers and providers implement it as case insensitive. I suggest that you fix your emails in the package.json otherwise we could be breaking other gravatars by lowercasing.

[2016-09-29 16:20] TehShrike commented on #107
Which RFC?  This has nothing to do with email address specifications, this is part of Gravatar's API.  When using Gravatar, you have to follow all three steps: https://secure.gravatar.com/site/implement/hash/

Right now, npms.io is not following the second step.

[2016-10-01 22:17] satazor commented on #107
Fixed!

[2016-10-01 22:17] #107 closed, assigned to nobody

[2016-10-05 15:48] satazor opened #109 "Setup Opbeat"
https://opbeat.com/

[2016-10-10 07:17] dandv opened #112 "How can packages be prevented from indexing?"
https://npms.io/search?q=influx unfairly lists the same package from tree.xie twice:
- influxdb-nodejs
- simple-influx

The latter was [renamed](https://www.npmjs.com/package/simple-influx) to the former, but both show up in searches.

[2016-10-10 07:26] satazor commented on #112
We can ignore them in https://github.com/npms-io/npms-analyzer/blob/master/config/default.json5#L24 but if it's published on npm, it should be searchable in npms.

I also advise to deprecate the old package with `npm deprecate`. That will make the score lower.

[2016-10-10 13:33] satazor commented on #112
Score is now lower: https://npms.io/search?q=simple-influx

[2016-10-10 13:33] #112 closed, assigned to nobody

[2016-10-18 14:52] vdanishevskyi commented on #15
Hi @satazor
I send you my version of logo design on your e-mail (amdfcruz@gmail.com). Check it please :)

[2016-10-18 15:24] satazor commented on #15
@vdanishevskyi Thanks! I've seen the logo but could you please attach the logo here for reference and for others to discuss?

[2016-10-18 16:48] vdanishevskyi commented on #15
Yes, sure. give me a few minutes and i'm post it ;)

2016-10-18 17:24 GMT+02:00 André Cruz <notifications@github.com>:

--
Pozdrawiam,
                   Viacheslav Danishevskyi

Tel.: +48 731 128 307
E-mail: s.danishevskiy@gmail.com

Skype: v.danishevskiy

[2016-10-18 16:54] vdanishevskyi commented on #15
My version of NPMS.io logo to discussing. @satazor
![npms-io-logo-by-viacheslav-danishevskyi](https://cloud.githubusercontent.com/assets/15813684/19487726/4d517172-9564-11e6-9ca0-cce9dddc29bb.jpg)

[2016-10-19 06:15] satazor commented on #15
@vdanishevskyi I like the logo overall. Could you please try several color scheme variants to see how they look like? For instance, instead of the red and green try a lighter version of the blue present in the website page. Feel free to try other variants too and post them here!

[2016-10-19 07:24] vdanishevskyi commented on #15
@satazor And now? Logo looks better in blue colors?
![npms-io-logo-by-viacheslav-danishevskyi_v2](https://cloud.githubusercontent.com/assets/15813684/19509168/c6af3bf2-95dd-11e6-952b-c73dbfeef526.jpg)

[2016-10-19 13:08] satazor commented on #15
I like it, until now I prefer v3. What do you think @atduarte?

[2016-11-03 13:34] vdanishevskyi commented on #15
@satazor Hi. I want to ask you about decision for designed logo? Let me know :)

[2016-11-06 19:02] satazor commented on #15
Still waiting for @atduarte's feedback

[2016-11-08 10:06] atduarte commented on #15
I was waiting for a new logo from Hugo Costa (http://hugodacosta.pt/). Here it is:

<img width="449" alt="screen shot 2016-11-08 at 10 05 33" src="https://cloud.githubusercontent.com/assets/666176/20094838/eb241008-a59a-11e6-8d44-52a255bf77f1.png">

[2016-11-08 15:32] sapegin commented on #15
Let’s include the current logo too:

![image](https://cloud.githubusercontent.com/assets/70067/20105187/f45a6466-a5d0-11e6-8c5c-b14318a6352d.png)

[2016-11-12 18:01] danielbayley opened #125 "Ability to star the underlying package?"
I'm not sure about the npm API, but this would be handy instead of always having to go through the additional step (and tab) to star the package.

[2016-11-14 15:45] satazor commented on #125
I think this is out of the scope for this project. We don't want to overcomplicate things and focus on what really matters: deliver good search results.

[2016-11-14 15:45] #125 closed, assigned to nobody

[2016-11-30 23:52] dandv opened #129 "Style links so they stand out"
Quick, can you tell which of the words in this screenshot are hyperlinked?

![image](https://cloud.githubusercontent.com/assets/33569/20776385/095469ca-b715-11e6-933f-ffcf7aba934f.png)

[2016-12-01 05:40] satazor commented on #129
You are right, not much specially on low contrast monitors. What if we underline?

[2016-12-01 07:06] dandv commented on #129
Underlining or the [GitHub style](https://meteor.engineer) (maybe inverted, given the color scheme) would be a good idea.

It would also be great if visited links have a different color (by default purple).

[2016-12-11 20:11] ghost opened #133 "add sorting features"
The site would sort results by calculated score but we can give the user the option to sort by quality alone, maintenance alone, popularity or a combination maybe ??

[2016-12-11 20:47] satazor commented on #133
There's a branch that adds this feature: https://github.com/npms-io/npms-www/tree/search-settings-url

It needs some work but is almost done. Can you try it out and give feedback?

[2016-12-16 23:53] dkebler opened #135 "what folks were requesting of npm's search"
Just forwarding a link to a issue/request made long ago at about npm's website which never went anywhere.

Very happy to see someone else has finally picked up the ball and run with this major issue...thx!

https://github.com/npm/www/issues/6

the score is a good idea but additional filtering, sorting and/or ability for visitor to tweak the scoring algorithm would be a plus.

[2016-12-17 00:00] satazor commented on #135
Hey @dkebler

We have a good number of filters in place, you may find them here: https://api-docs.npms.io/#api-Search-ExecuteSearchQuery. Let me know if you have a specific filter requirement not present there.

Regarding additional sorting features, could you look at my comment at https://github.com/npms-io/npms-www/issues/133? We got that almost done, we just need feedback to see if it's good en

[2016-12-17 00:51] dkebler commented on #135
on npmjs.org After thinking I found a good package I have to jump to github repo and take a look at the latest commit.  Packages not being maintained (say no commits in last x months) or with a bunch of unclosed issues are not worth my time. Is that what your maintenance score tracks?   How to find tune that?  Seems I saw something in the api for weights?

It's pretty easy to find popular/used pac

[2016-12-17 00:51] #135 closed, assigned to nobody

[2016-12-17 00:56] satazor commented on #135
@dkebler I definitely agree with you that's why we want to offer additional sorting features. The attached screenshot shows an upcoming feature that will allow to tweak the weights, so that you can tweak `quality` and `maintenance` over `popularity`.

This answers most of your points in a way that is simple and (hopefully) intuitive. What do you think?

Thanks for showing up and give some input wh

[2016-12-17 19:37] dkebler commented on #135
Yea that's the idea.  perfect.

more suggestions then.

To expand on that if user clicks on a parameter (e.g. Quality) a modal could open that one would allow tweaking the  algorithm for that parameter (whatever has not been hard coded).  Might as well link/display relevant documentation on how that parameter is calculated (way important)

Could also include an "advanced" link/dialog where you cou

[2016-12-24 11:43] satazor commented on #129
I made all links a bit bolder instead. Being deployed right now. Thanks!

[2016-12-24 11:43] #129 closed, assigned to nobody

[2016-12-30 20:36] blakeembrey opened #137 "Search for modules with type definitions"
It'd be really cool to be able to search modules that have TypeScript definitions. These modules can be identified by `types` or `typings` as a string pointing to a `.d.ts` file at the root of `package.json`. I'd be happy to attempt this if there's a pointer on where to start and whether it sounds like an acceptable feature. It could be implemented as a new option, or something is `is:types`. Ther

[2017-01-12 03:15] Lellansin opened #140 "Search doesn't work"
While I did *https://npms.io/search?q=koa*, I got `Oops, an error ocurred while fetching the results.`
Is there something wrong?

[2017-01-12 08:00] Lellansin commented on #140
it works now

[2017-01-12 08:00] #140 closed, assigned to nobody

[2017-01-12 08:29] satazor commented on #140
Maybe it was some temporary issue related to our hosting.

[2017-01-14 02:34] abhishiv commented on #140
@satazor again seeing this error. Just for your information, this error often shows up since this week.

[2017-01-14 09:08] satazor commented on #140
It's indeed related to our hosting. I have other machines for other projects and they are suffering the same.

[2017-02-10 11:33] KELiON opened #147 "Proposal: refresh button"
Hello! Thanks for doing npms – it is great tool!

I use API in my [open-source project](https://cerebroapp.com) to manage plugins. Several times I had a situation when plugin ( === npm package) is updated and published to npm, but npms API result updated only after some time.

I suppose that you don't have hooks from npm registry and you have to update your cache time to time and I'm thinking if i

[2017-02-10 11:51] satazor commented on #147
This should be transparent because any published module gets higher priority and will be analyzed right away. But there's been some hicups with our queue module because it's not reconnecting to rabbitmq for some reason (on error).  I've fixed one issue here that maybe be related: https://github.com/npms-io/npms-analyzer/commit/43e1ef25854336ed3077e7afb9740439b3f65378

I've restarted the analyzer s

[2017-02-10 12:17] KELiON commented on #147
@satazor Ok! How much time usually takes refresh of published versions? I.e. 1.5 hours ago I've published [cerebro-shell](https://www.npmjs.com/package/cerebro-shell)@0.1.2, but npms still shows version 0.1.1 as the latest

[2017-02-10 12:18] satazor commented on #147
If the aforementioned problem didn't exist, it would take ~20sec maximum to appear, unless it failed to analyze for some reason (e.g.: github or node security project being down). In case of errors, the package gets queued again for later analysis.

[2017-03-19 18:01] greenkeeper[bot] opened #154 "An in-range update of eslint-plugin-react is breaking the build 🚨"
## Version **6.10.1** of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/npms-io/npms-www/compare/greenkeeper%2Feslint-plugin-react-6.10.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plugin-react
    <

[2017-03-26 23:36] #154 closed, assigned to nobody

[2017-06-12 12:47] #147 closed, assigned to nobody

[2017-06-15 22:46] greenkeeper[bot] opened #173 "An in-range update of stylelint is breaking the build 🚨"
## Version **7.11.1** of [stylelint](https://github.com/stylelint/stylelint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/npms-io/npms-www/compare/greenkeeper%2Fstylelint-7.11.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      stylelint
    </td>
  </tr>
  <tr>
    <th align=left>

[2017-06-16 12:55] deepu105 opened #174 "npms.io site down"
npms.io seems to be down currently

[2017-06-16 12:58] satazor commented on #174
I'm aware. The disk is full and I can't access the machine. Will try to recover. Alternatively I've asked npmjs to host the API and the badges API on their end.

Will update this issue when I got more info.

[2017-06-16 13:07] deepu105 commented on #174
I think if npmjs can host this that would be great and would reduce the pressure on you. keep up the good work

[2017-06-16 22:40] satazor commented on #174
It has been fixed. Sorry for the inconvenience.

[2017-06-16 22:40] #174 closed, assigned to nobody

[2017-06-17 10:35] deepu105 commented on #174
Thanks a lot

On Sat, 17 Jun 2017, 12:52 am André Cruz, <notifications@github.com> wrote:

[2017-07-14 12:16] mrtnbroder opened #177 "Search within chromes address bar is broken"
Whenever I want to use Chrome's search feature in the Adress Bar, I get 0 results, because the url transforms from

![screen shot 2017-07-14 at 14 13 05](https://user-images.githubusercontent.com/1118826/28211826-e889690c-689e-11e7-9fb1-8d0963004323.jpg)

to

`https://npms.io/search?term=ramda`

but npms.io uses

`https://npms.io/search?q=ramda`

Please 1. either allow `term` again or tell chrome

[2017-08-05 10:10] kroitor opened #181 "npms.io search broken ("
Whatever I type in the search field it says *"Oops, an error ocurred while fetching the results"*.

<img width="848" alt="screen shot 2017-08-05 at 13 09 41" src="https://user-images.githubusercontent.com/1294454/28994797-764f92ec-79df-11e7-8074-d93fc51734cf.png">

[2017-08-05 11:57] satazor commented on #181
Should be ok now, elasticsearch went down for some reason.

[2017-08-05 12:06] #181 closed, assigned to nobody

[2017-08-05 17:22] kroitor commented on #181
P.S. there's a typo in the word 'occurred'

[2017-09-13 10:34] ventsislav-georgiev opened #183 "npms.io search doesn't work"
![image](https://user-images.githubusercontent.com/5616486/30372926-3a1fa8a8-9888-11e7-9cda-3d9a0c4da958.png)

[2017-09-13 11:45] satazor commented on #183
Duplicate of https://github.com/npms-io/npms-api/issues/69#issuecomment-328943304

[2017-09-13 11:45] #183 closed, assigned to nobody

[2017-09-14 00:39] atian25 opened #184 "Oops, an error ocurred while fetching the results."
GET https://api.npms.io/v2/search?from=0&q=url&size=25 500

[2017-09-14 09:39] jt3k commented on #184
the website not work too 😢   https://npms.io/search?q=promise

[2017-09-14 15:59] satazor commented on #184
Should be fine now. The disk was broken but was recovered.

[2017-09-14 15:59] #184 closed, assigned to nobody

[2017-09-14 16:00] satazor commented on #177
You should have a cached version of the search. Please remove it from the providers and clear the cache for the npms site.

See: https://github.com/npms-io/npms-www/blob/master/web/opensearch.xml#L8

[2017-09-14 16:00] #177 closed, assigned to nobody

[2017-09-14 16:00] #173 closed, assigned to nobody

[2017-10-10 12:01] eyarz commented on #133
great feature!
I'm playing around with the branch and it is not really clear what should be the expected result after configuring the sorting option.
For example - if I want to sort result **only by popularity**, I will move the "popularity weight" to max and all the other weights to min, but the result is not sorted by popularity (from hight to low).

![screen shot 2017-10-10 at 14 55 58](https:/

[2017-10-30 15:21] AndrewPrifer opened #206 "Link to package details page on yarnpkg.com"
The yarnpkg website recently got a search feature and package details page. The search is kinda meh compared to npms, but the package details page is really awesome ([example](https://yarnpkg.com/en/package/validator)) and far superior to the one on npmjs.com. Would it be a good idea to link to that as well from the results? What do you think?

[2017-10-30 15:39] satazor commented on #206
I think npmjs will be rolling out an improved package details page soon. Perhaps @bcoe could give some insight.

[2017-10-30 17:44] isaacs commented on #206
It's true, we are currently working on some significant changes to our website.  An improved package details page will be part of that, with ongoing improvements planned throughout 2018.  (Presumably we'll keep improving things in 2019 and beyond, just don't have specific plans for that yet :)

@andrewpeterprifer I'm curious about what specifically you see as "far superior"?  I'm not trying to be

[2017-10-30 22:18] AndrewPrifer commented on #206
Thanks for joining the conversation @isaacs. My comment might have been overly enthusiastic, I meant no offense. ;)

What I really, really like about yarnpkg's details page is the following, more or less in this order:

1. Changelog
2. Github activity (number of commits in last 3 months, latest commit, number of stars) I think these are really good indicators of package maintenance. Yes, npmjs sho

[2017-10-30 22:20] #109 closed, assigned to nobody

[2017-12-01 05:40] atian25 opened #208 "wrong alarm"
![image](https://user-images.githubusercontent.com/227713/33469295-060c9410-d69d-11e7-9e47-779dbf4f479e.png)

![image](https://user-images.githubusercontent.com/227713/33469304-11ac5cb0-d69d-11e7-8353-2faec84d37cc.png)

[2017-12-01 05:47] atian25 commented on #208
![image](https://user-images.githubusercontent.com/227713/33469474-1828750a-d69e-11e7-9b78-59aa51a55e6a.png)

egg use `^` to import deps, and moment had release `'2.19.3': '2017-11-29T16:28:22.840Z'`

[2017-12-01 08:40] satazor commented on #208
The package needs to be analyzed again for that to disappear. That happens when:

- a new version is published
- the analyzes becomes stale which happens each 15 days

[2017-12-01 08:40] #208 closed, assigned to nobody

[2017-12-27 07:01] DanielRuf opened #211 "find better approach for scrollbar issue"
TBD.

Reference: https://github.com/npms-io/npms-www/pull/210

[2018-02-11 09:41] warren-bank opened #214 "Gravatars contain "alt" text that leaks the email address"
[here](https://github.com/npms-io/npms-www/blob/master/src/routes/search/components/ResultsListItem.js#L90)

..related to [react-gravatar #144](https://github.com/KyleAMathews/react-gravatar/issues/144)

[2018-02-13 22:26] mwri opened #215 "'Insecure' tag shown but no vulnerabilities"
'Insecure' tags are being applied to some packages which do not have any apparent vulnerabilities.

For example [lostofs](https://github.com/mwri/lostofs/) currently has a red 'insecure' tag, see first result from the [npms.io search](https://npms.io/search?q=lostofs).

Hovering over the tag it says:

However, following the [link to nodesecurity.io](https://nodesecurity.io/check/lostofs) it says t

[2018-02-26 16:01] TiagoDanin commented on #215
Same with my packages ([unsplash-source-node][1] and [ttgram][2])
https://npms.io/search?q=author%3Atiagodanin

[1]:https://nodesecurity.io/check/ttgram
[2]:https://nodesecurity.io/check/unsplash-source-node/latest

[2018-03-22 12:59] styfle opened #219 "[Feature Request] Display package size"
I am considering writing a tool to do this because it might be outside the scope of this project.

There is already https://bundlephobia.com which is great for front end dependencies that get bundled with webpack but it doesn't tell you about the size of dev dependencies such as test frameworks.

There is already a request to add this to npmjs.com here: https://github.com/npm/www/issues/197

Is th

[2018-03-22 15:31] satazor commented on #219
Yes we could! We actually have downloaders that are able to download the source code as well as the published code: https://github.com/npms-io/npms-analyzer/tree/master/lib/analyze/download

If there's a module that could receive a directory (that contains the code as well as the package.json) and calculate the bundle size, it would be easy to add the feature.

[2018-03-22 15:53] styfle commented on #219
@satazor Thanks for the response!

I am actually working on code now to be able to do this but wanted to make sure I wasn't re-inventing the wheel! https://github.com/styfle/packagephobia

I started going for a web app to make it similar to bundlephobia but really all it does is act as an API for the module you just described.

Would you like me to break out the logic that computes the size into a

[2018-04-08 23:50] styfle commented on #219
Here's what I came up with: https://github.com/styfle/packagephobia

[2018-04-17 01:10] styfle commented on #219
@satazor The API is now available 🎉

You can use the npm package name and version (cached result):

https://packagephobia.com/api.json?p=next@5.1.0

Or simply the npm package name which will automatically use the latest version (never cached):

https://packagephobia.com/api.json?p=next

Will this work for npms.io to display a size?

[2018-05-11 12:50] styfle commented on #219
@satazor Do you want to call the API when building stats?
How can we move forward with this? Thanks 😄

[2018-07-14 05:46] ankurk91 opened #225 "Leaking package maintainer email to bots"
Hi,
The website https://npms.io is leaking all package maintainer email addresses to bots.
It is visible to Google (try to search email address on google) and scrapping sites can scrap the email addresses to spam them.

![screenshot from 2018-07-14 11 08 16](https://user-images.githubusercontent.com/6111524/42721308-4b85003a-8756-11e8-9958-15da6062a195.png)
You can notice email address in image ta

[2018-07-14 05:48] ankurk91 commented on #225
I just noticed same issue
https://github.com/npms-io/npms-www/issues/214

[2018-07-14 09:12] satazor commented on #225
It seems we can send the md5 of the email to the component instead of the email. Could you do a PR with this strategy? We can use the sparkmd5 package.

[2018-07-15 09:39] #225 closed, assigned to nobody

[2018-10-25 15:05] greenkeeper[bot] opened #228 "An in-range update of html-minifier is breaking the build 🚨"
## The devDependency [html-minifier](https://github.com/kangax/html-minifier) was updated from `3.5.20` to `3.5.21`.

🚨 [View failing branch](https://github.com/npms-io/npms-www/compare/master...npms-io:greenkeeper%2Fhtml-minifier-3.5.21).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

html-minifier is a devDependency of

[2018-10-31 14:05] #228 closed, assigned to nobody

[2018-11-06 12:25] satazor commented on #214
Fixed in #226

[2018-11-06 12:25] #214 closed, assigned to nobody

[2019-05-11 02:12] jaens opened #229 ""Next page" scroll does not work on Firefox"
When you reach the end of the results on Firefox, it does not automatically load the next batch.
(Works in Chrome.)

[2019-07-31 14:55] TremayneChrist opened #230 "Search shows outdated versions compared with npmjs.com"
[@juggle/resize-observer](https://npms.io/search?q=%40juggle%2Fresize-observer) is currently stuck at `2.0.3` and npm is showing `2.3.0`.

I see this is happening for other packages too:
- npms-io/npms#31
- npms-io/npms#34

[2019-07-31 17:00] jpw commented on #230
We're having this problem too: https://npms.io/search?q=%40springernature%2Fglobal-context

Search says 2.1.0 but [2.2.0 was published on 2019-07-03](https://github.com/springernature/frontend-global-toolkit/blob/master/packages/global-context/HISTORY.md#220-2019-07-03)

Thanks for having a look.

[2019-08-04 13:51] satazor commented on #230
I've triggered the analysis for the packages you guys mentioned. The analyser was stopped for two weeks since the machine was restarted abruptly.

The analysis is now running and slowly recovering.

[2019-08-04 13:51] #230 closed, assigned to nobody

[2019-09-16 13:01] jpw opened #231 "Search appears outdated"
Hi there!

We're seeing the search is outdated again, as per #230
e.g.
https://npms.io/search?q=%40springernature%2Fglobal-context is at 3.0.0, 2019-07-31
https://www.npmjs.com/package/@springernature/global-context should be 4.0.1 as of 3 days ago

Thanks for having a look.

[2019-10-03 09:07] noobling commented on #231
Yeah a few packages seem to be outdated...

[2020-03-21 02:06] #206 closed, assigned to nobody

[2020-09-12 17:17] #211 closed, assigned to nobody

[2021-10-26 12:29] satazor commented on #231
Duplicate of https://github.com/npms-io/npms-api/issues/101

[2021-10-26 12:29] #231 closed, assigned to nobody